/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@font-face {
  font-family: jetbrains-mono-bold;
  src: url(font/JetBrainsMonoNL-ExtraBold.ttf);
}
@font-face {
  font-family: jetbrains-mono-regular;
  src: url(font/JetBrainsMonoNL-Regular.ttf);
}

html {
  --purple_color: #8551a9;
  --black_color: #313844;
  --white_color: #f2f2f2;
}

h1 {
  font-size: 3rem;
  font-family: jetbrains-mono-bold;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
  font-family: jetbrains-mono-bold;
  text-transform: uppercase;
}
h3 {
  font-size: 1.5rem;
  font-family: jetbrains-mono-bold;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  font-family: jetbrains-mono-regular;
}

a {
  font-size: 1rem;
  font-family: jetbrains-mono-regular;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  background-color: var(--white_color);
}
section {
  display: grid;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: #efefef;
}
img {
  max-width: 100%;
  height: auto;
}

/* BUTTON AND A HOVER --------------------------- */
nav > a {
  padding-top: 5px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  text-align: center;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--purple_color);
}

nav > a:hover {
  box-shadow: inset 300px 0 0 0 var(--purple_color);
}

.a_button {
  font-family: jetbrains-mono-bold;
  text-decoration: none;
  font-size: 1.5rem;
  width: 220px;
  height: 50px;
  text-transform: uppercase;
  text-align: start;

  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--purple_color);
  color: var(--purple_color);
  z-index: 1;
  padding-top: 10px;
}

.a_button:hover {
  box-shadow: inset 300px 0 0 0 var(--purple_color);
  color: var(--white_color);
}
section > a {
  width: 200px;
  height: 50px;
  text-align: center;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 var(--purple_color);
}
section > a:hover {
  box-shadow: inset 300px 0 0 0 var(--purple_color);
}

/* ABOUT ME ----------------------- */

.about_me > ul {
  padding: 0;
  list-style: none;
}
.icon_container {
  display: flex;
  justify-content: center;
}

.about_me_icon {
  max-width: 50%;
  height: auto;
}

/* ICONS---------------------------------------- */

.some_icons_container {
  display: flex;

  justify-content: space-evenly;
}
.some_icons_container_menu {
  display: flex;

  justify-content: space-evenly;
}

.some_icons {
  height: 50px;
  width: 50px;
}
.some_icons_menu {
  fill: #f0f0f0;
  height: 50px;
  width: 50px;
}
.some_icons_footer {
  fill: #f0f0f0;
  height: 50px;
  width: 50px;
}

/* CARD SLIDER -------------------------------------- */
.container {
  max-width: 1120px;
  width: 100%;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 200px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

/* READ PROGRESS BAR ----------------------------------*/

.read-progress {
  height: 5px;
  position: fixed;
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 9999;
  transition: linear;
  top: 0;
}

/* MY_PICTURE SECTION ---------------------------------- */
.my_picture {
  display: flex;
  justify-content: center;
}
.banner_container {
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
  border-radius: 8px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-image: url(visuals/images/my_picture.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}
.still_image {
  opacity: 0;
}

/* HEADER ---------------------------------------*/
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.5s ease-in-out;
}

#main-header.hidden {
  transform: translateX(100%);
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.navbar,
.navbar-burger,
.menu,
.background {
  position: fixed;
}

.background {
  z-index: 1;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;

  /* Baggrundsbillede her*/

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

body.open .background {
  filter: blur(20px);
}

.navbar {
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding-left: 20px;
  padding-right: 72px;
  color: #f9f9f9;
}

.navbar > button {
  font-size: 28px;
}

.navbar-logo {
  height: 25px;
}

.navbar-burger {
  z-index: 3;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  /* Ikon for burgermenu indsættes her */
  background-color: var(--black_color);
  border-radius: 8px 0px 0px 8px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8px;
  padding-right: 70px;
  transform: translateX(15%);
  transition: 0.5s;
}

/* Ikon for burgermenu lukkes indsættes her */
body.open .navbar-burger {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-search {
  border: 0;
  height: 40px;
  background: #2f3339 /* Indsæt ikon/billede her til søgefelt*/ url("assets/search.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  border: 0;
  border-radius: 6px;
  padding-left: 36px;
  width: 180px;
  font-size: 16px;
  font-family: "Euclid Circular A";
}

.navbar-search::placeholder {
  color: #a7a7a7;
}

.menu {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}

body.open .menu {
  opacity: 1;
  visibility: visible;
}

.menu > a {
  color: #f9f9f9;
  font-size: 32px;

  text-decoration: none;
}

body.open .menu > a {
  animation: appear 0.3s both;
}
body.open .menu > .some_icons_container_menu {
  animation: appear 0.3s both;
  gap: 20px;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
}

/* IMAGE GALLERY ---------------------------------------------------*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;

  padding: 16px;
  color: white;
  font-weight: bold;
  height: 100%;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* IMAGE CAROUSEL -------------------------------- */

.carousel {
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;

  transition-delay: 0ms;
}

.carousel-button {
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba (0, 0, 0, 0.1);
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel.button.prev {
  left: 1rem;
}
.carousel.button.next {
  left: 1rem;
}
